body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.edit-btn, .logout-btn, .user-btn {
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-btn:hover, .logout-btn:hover, .user-btn:hover {
    background-color: red;
}

section {
    margin: 20px 0;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #ff5e00;
    text-decoration: none;
}

a:hover {
    color: red;
}
